<% if(item.isFinished){ %>
    <li class="list-group-item row">
        <h5 class="col-xs-8"><%= item.content %></h5>
        <div class="btn-group pull-right" role="group">
            <a href="/toggle/<%= item._id %>" type="button" class="btn btn-danger glyphicon glyphicon-ok"></a>
            <button type="button" class="btn btn-default glyphicon glyphicon-edit" data-toggle="modal"
            data-target="#myModal" data-itemId="<%= item._id %>"></button>
            <a href="/delete/<%= item._id %>" type="button" class="btn btn-default glyphicon glyphicon-trash"></a>
        </div>
    </li>
<% } else { %>
    <li class="list-group-item row">
        <h5 class="col-xs-8"><%= item.content %></h5>
        <div class="btn-group pull-right" role="group">
            <a href="/toggle/<%= item._id %>" type="button" class="btn btn-default glyphicon glyphicon-ok"></a>
        <button type="button" class="btn btn-default glyphicon glyphicon-edit" data-toggle="modal"
            data-target="#myModal" data-itemId="<%= item._id %>"></button>
           <a href="/delete/<%= item._id %>" type="button" class="btn btn-default glyphicon glyphicon-trash"></a>
        </div>
    </li>
<% } %>
